@using DemoApplication.Database.Models
@model List<PaymentBenefit>

<div class="row shipping-wrap">
    @foreach (var benefit in Model)
    {
            
    <div class="col-lg-4 col-md-6">
        <div class="shipping-item">
            <div class="shipping-img">
                <img src="~/@benefit.ImageInFileSystem"
                     alt="Shipping Icon" />
            </div>
            <div class="shipping-content">
                <h2 class="title">@benefit.Title</h2>
                <p class="short-desc mb-0">@benefit.Content</p>
            </div>
        </div>
    </div>
    }

</div>